/Ip_cam_survilance/
/OpenCV_and_rtsp_video_processing-master/
/photos/
/photos — копия/
/system_settings/
/__pycache__/
.gitignore
bot.db
Bot_credentials.py
bottoken.txt
users.db
video_presentation_overview.md
yolo11n.pt
notes.txt

